<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
</head>
<body>
  <h1>Admin</h1>
  <ul>
    <li><a href="/admin/menu">Change menu</a></li>
    <li><a href="/admin/orders">Show orders</a></li>
  </ul>
  <p><a href="/">Return</a></p>
</body>
</html>
