<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
</head>
<body>
  <h1>Admin</h1>
  <form action="/admin/login" method="POST">
    <label>Пароль:
      <input type="password" name="password" required />
    </label>
    <button type="submit">Enter</button>
  </form>
  <p><a href="/">Back</a></p>
</body>
</html>
