<!DOCTYPE html>
<html>
<head>
  <title>Choose Type</title>
</head>
<body>
  <h1>Choose Type</h1>
  <ul>
    <li><a href="/menu-sync">Menu (sync)</a></li>
    <li><a href="/menu-callback">Menu (callback)</a></li>
    <li><a href="/menu-promise">Menu (Promise)</a></li>
    <li><a href="/menu-async">Menu (async/await)</a></li>
  </ul>
</body>
</html>
